# File Reading and Writing

In [18]:
import pandas as pd

In [74]:
file=open('contacts.txt','r')

In [75]:
str=file.read() 
str

'Amit,Shah,+9800123456\nPramit,Singh,+9801345678\nShalini,Shah,+9801341876'

In [76]:
temp=str.split('\n')
temp

['Amit,Shah,+9800123456',
 'Pramit,Singh,+9801345678',
 'Shalini,Shah,+9801341876']

In [77]:
df=pd.DataFrame(columns=['first_name','second_name','number'])
df

Empty DataFrame
Columns: [first_name, second_name, number]
Index: []

In [78]:
temp_row=[]
for row in temp:
    temp_row.append(row.split(','))
temp_row

[['Amit', 'Shah', '+9800123456'],
 ['Pramit', 'Singh', '+9801345678'],
 ['Shalini', 'Shah', '+9801341876']]

In [79]:
for row in temp_row:
        df=df.append(pd.Series(row,index=df.columns),ignore_index=True) 
        
df

  first_name second_name       number
0       Amit        Shah  +9800123456
1     Pramit       Singh  +9801345678
2    Shalini        Shah  +9801341876

# Pattern Matching using regex

In [85]:
import re

In [96]:
exp=re.compile(r'\d\d\d')
obj=exp.search('My Number is 123')
obj

In [102]:
exp=re.compile(r'\d\d\d-\d\d\d-\d\d\d')
obj=exp.search('My Number is 123-456-789 and 123-456')
obj

In [107]:
exp=re.compile(r'\d{3}-\d{3}-\d{3}')
obj=exp.search('My Number is 123-456-789 and 123-456')
print('Object:',obj)
print("Object Group:",obj.group())

Object: <re.Match object; span=(13, 24), match='123-456-789'>
Object Group: 123-456-789

## For Grouping Output, Use Brackets in regex

In [112]:
exp=re.compile(r'(\d{3})-(\d{3})-(\d{3})')
obj=exp.search('My Number is 123-456-789 and 123-456')
print('Object:',obj)
print("Object Group:",obj.group())
print("Object Group:",obj.group(1))
print("Object Group:",obj.group(2))
print("Object Group:",obj.group(3))
print("Object Group:",obj.groups())

Object: <re.Match object; span=(13, 24), match='123-456-789'>
Object Group: 123-456-789
Object Group: 123
Object Group: 456
Object Group: 789
Object Group: ('123', '456', '789')

   ## For parenthesis matching

In [120]:
exp=re.compile(r'(\(\d\d\d\))-(\d{3})-(\d{3})')
obj=exp.search('My Number is (123)-456-789 and 123-456')
print('Object:',obj)
print("Object Group:",obj.group())
print("Object Group:",obj.group(1))
print("Object Group:",obj.group(2))
print("Object Group:",obj.group(3))
#(\(\d\d\d\)) -> for (123) matching this

Object: <re.Match object; span=(13, 26), match='(123)-456-789'>
Object Group: (123)-456-789
Object Group: (123)
Object Group: 456
Object Group: 789

## First Match returned -> Pipe- | symbol

In [121]:
exp=re.compile(r'Rajat|Shivam')
obj=exp.search('My name is Rajat while brother\'s name is Shivam')
print('Object:',obj)

Object: <re.Match object; span=(11, 16), match='Rajat'>

In [122]:
exp=re.compile(r'Rajat|Shivam')
obj=exp.search('My name is Chirag while brother\'s name is Shivam')
print('Object:',obj)

Object: <re.Match object; span=(42, 48), match='Shivam'>

In [123]:
exp=re.compile(r'Rajat|Shivam')
obj=exp.search('My name is Shivam while brother\'s name is Rajat')
print('Object:',obj)

Object: <re.Match object; span=(11, 17), match='Shivam'>

## Miscellaneous

In [128]:
exp1=re.compile(r'(Ha){3}') # = HaHaHa
exp2=re.compile(r'(HaHa){2}') # = HaHaHaHa
exp3=re.compile(r'(Haa){3}')  # = HaaHaaHaa
exp4=re.compile(r'Ha{3}')     # = Haaa

obj1=exp1.search('HaHaHaHaHa Yo')
obj2=exp2.search('HaHaHaHaHa Yo')
obj3=exp3.search('HaaHaaaHaaHaaHaa Yo')
obj4=exp4.search('HaaHaaaHaHa Yo')

print('Object:',obj1)
print('Object:',obj2)
print('Object:',obj3)
print('Object:',obj4)

Object: <re.Match object; span=(0, 6), match='HaHaHa'>
Object: <re.Match object; span=(0, 8), match='HaHaHaHa'>
Object: <re.Match object; span=(7, 16), match='HaaHaaHaa'>
Object: <re.Match object; span=(3, 7), match='Haaa'>

## Using ? in regex

In [129]:
exp=re.compile(r'Bat(wo)?man')
obj=exp.search('Batman is strongest member of justice league')
print('Object:',obj)

Object: <re.Match object; span=(0, 6), match='Batman'>

In [130]:
exp=re.compile(r'Bat(wo)?man')
obj=exp.search('Batwoman is strongest member of justice league')
print('Object:',obj)

Object: <re.Match object; span=(0, 8), match='Batwoman'>

In [131]:
exp=re.compile(r'Bat(wo)?man')
obj=exp.search('Batwooman is strongest member of justice league')
print('Object:',obj)

Object: None

In [136]:
exp=re.compile(r'\d(.)?\d(wo)?man')
obj=exp.search('2.3woman is strongest member of justice league')
print('Object:',obj)

Object: <re.Match object; span=(0, 8), match='2.3woman'>

## Matching Floating Point numbers - Using '+' ,'*', '?'

In [151]:
re.findall(r'[-+]?\d*\.\d+|\d+','Current Level: -13.2 db or 14.2 or 3')

['-13.2', '14.2', '3']

## Mathing Complex Expressions

In [156]:
re.findall(r'[Hh]e','He and She work well')

['He', 'he']

In [162]:
re.findall(r'[Ss]he','He and She and she work well')

['She', 'she']

In [167]:
re.findall(r'[a-zA-Z]*he','He and She he and she workhe well') # Ending with he and he included

['She', 'he', 'she', 'workhe']

In [170]:
re.findall(r'[a-zA-Z]*he','He and She he and she workhe well 123he')

['She', 'he', 'she', 'workhe', 'he']

In [189]:
re.findall(r'[a-z]+[A-Z]+','He and sHe He and she workhe well 123 456')

['sH']

In [192]:
re.findall(r'[a-zA-Z]+e','He and sHe He and she workhe well 123 456e e')

['He', 'sHe', 'He', 'she', 'workhe', 'we']

In [200]:
re.findall(r'[0-9]*[a-zA-Z]*e','He and sHe He and she workhe well 123 456e e crazye')

['He', 'sHe', 'He', 'she', 'workhe', 'we', '456e', 'e', 'crazye']

In [214]:
re.findall(r'[Bb]atwoman','The adventures of batman Batwoman Batwooman Batwowoman Batewowowoman Batman batwoman')

['Batwoman', 'batwoman']

In [240]:
re.findall(r'[bB]at[wo]*man','The adventures of batman Batwoman Batwooman Batwowoman Batwowowoman Batman')

['batman', 'Batwoman', 'Batwooman', 'Batwowoman', 'Batwowowoman', 'Batman']

In [245]:
re.findall(r'[bB]at[wo]*man','Batwooman should not be there with batwoman')

['Batwooman', 'batwoman']

In [267]:
re.findall(r'bat[wo]?man','Batwooman should not be there with batwoman, batman')

['batman']